#chessboard-center{
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #222;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, min(10vh, 10vw));
    grid-template-rows: repeat(8, min(10vh, 10vw));
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
    background-color: #f0d9b5;
}

@media (max-width: 480px) {
    #chessboard {
        width: min(100vh, 100vw);
        height: min(100vh, 100vw);
        grid-template-columns: repeat(8, min(12.5vh, 12.5vw));
        grid-template-rows: repeat(8, min(12.5vh, 12.5vw));
    }
  }