.tile {
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
    font-size: small;
}

.light-tile {
    background-color: #f0d9b5;
    color: #b58863;
}

.dark-tile {
    background-color: #b58863;
    color: #f0d9b5;
}

.tile .piece {
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tile .piece:hover {
    cursor: grab;
}

.tile .piece:active {
    cursor: grabbing;
}

.selected {
    border-radius: 50%;
    border: 5px solid green;
}